
@{
    ViewData["Title"] = "Index";
}

<h2>Statistiek van deze website</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>URL</th>
            <th>Bezoeken</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var entry in MVCTuinCentrumCore.Filters.StatistiekActionFilter.Statistiek)
        {
            <tr>
                <td>@entry.Key</td>
                <td>@entry.Value</td>
            </tr>
        }
    </tbody>
</table>

