@model MVCTuinCentrumCore.Models.Plant

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Plant</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Naam" class="control-label"></label>
                <input asp-for="Naam" class="form-control" />
                <span asp-validation-for="Naam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoortNr" class="control-label"></label>
                <select asp-for="SoortNr" class ="form-control" asp-items="ViewBag.SoortNr"></select>
            </div>
            <div class="form-group">
                <label asp-for="Levnr" class="control-label"></label>
                <select asp-for="Levnr" class ="form-control" asp-items="ViewBag.Levnr"></select>
            </div>
            <div class="form-group">
                <label asp-for="Kleur" class="control-label"></label>
                <input asp-for="Kleur" class="form-control" />
                <span asp-validation-for="Kleur" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VerkoopPrijs" class="control-label"></label>
                <input asp-for="VerkoopPrijs" class="form-control" />
                <span asp-validation-for="VerkoopPrijs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

